<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Douban Movie Top 250 display</title>
    <meta name="description" content="Douban250">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="" name="ZRTHEMES">

    <!-- Favicons -->


    <!-- Google Fonts -->
    <link href="static/css/css2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="static/css/css21.css" rel="stylesheet">
    <link href="static/css/css22.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="static/css/aos.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/css/glightbox.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-icons.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="static/css/styles.css" rel="stylesheet">
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

<header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
            <img src="static/picture/logo.png" alt="logo">
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/index" class="">Home</a></li>
                <li><a href="/movie" class="">Movie</a></li>
                <li><a href="/rating" class="">Rating</a></li>
                <li><a href="/wordcloud" class="">Wordcloud</a></li>
                <li><a href="/team" class="">Team</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!--  Hero Section  -->
<section id="hero" class="hero sticked-header-offset">

    <div id="particles-js"></div>
    <div id="repulse-circle-div"></div>
    <div class="container position-relative">
        <div class="row gy-5 aos-init aos-animate">
            <div class="col-lg-7  order-lg-1 d-flex flex-column justify-content-start text-left caption">
                <h2 data-aos="fade-up">This website will display the outcome from Python
                    Spider.
                    <span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h2>
                <div class="social" data-aos="fade-up" data-aos-delay="600">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<main id="main">
    <!-- Start Service Section -->
    <div id="Movies" class="section">
        <div class="top-icon-box position-relative">
            <div class="container position-relative">
                <div class="section-header">
                    <h2>Informaion We Offer</h2>
                </div>
                <div class="row gy-3">

                    <div class="col-xl-5 col-md-5" data-aos="fade-up" data-aos-delay="100">
                        <a href="/movie">
                            <div class="icon-box">
                                <div class="icon"><img src="static/picture/service-design.svg" alt="icon"></div>
                                <h4 class="title">Movie</h4>
                                <p>The detailed information about Douban top 250 movies.</p>
                            </div>
                        </a>
                    </div>

                    <!--End Icon Box -->

                    <div class="col-xl-5 col-md-5" data-aos="fade-up" data-aos-delay="200">
                        <a href="/rating">
                            <div class="icon-box">
                                <div class="icon"><img src="static/picture/service-hosting.svg" alt="icon"></div>
                                <h4 class="title">Rating</h4>
                                <p>Show rating.</p>
                            </div>
                        </a>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-5 col-md-5" data-aos="fade-up" data-aos-delay="500">
                        <a href="/wordcloud">
                            <div class="icon-box">
                                <div class="icon"><img src="static/picture/service-cloud.svg" alt="icon"></div>
                                <h4 class="title">Wordcloud</h4>
                                <p>Wordcloud.</p>
                            </div>
                        </a>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-5 col-md-5" data-aos="fade-up" data-aos-delay="200">
                        <a href="/team">
                            <div class="icon-box">
                                <div class="icon"><img src="static/picture/icon-3.svg" alt="icon"></div>
                                <h4 class="title">Team</h4>
                                <p>Our team members</p>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- End Service Section -->

    <!-- Featured -->



    <!--  Our Team Section  -->
    <section id="team" class="team sections-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-header">
                <h2>Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="static/picture/team-1.jpg" class="img-fluid" alt="">
                        <h4>Jhone Bi</h4>
                        <span>Application Manager</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="static/picture/team-2.jpg" class="img-fluid" alt="">
                        <h4>Sani Awesome</h4>
                        <span>Social Media</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="static/picture/team-3.jpg" class="img-fluid" alt="">
                        <h4>Andrio Willi</h4>
                        <span>Content Writer</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="static/picture/team-4.jpg" class="img-fluid" alt="">
                        <h4>Afa Jonson</h4>
                        <span>Business Manager</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>
    </section>
    <!-- End Our Team Section -->










</main><!-- End #main -->



<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/glightbox.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/swiper-bundle.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/purecounter_vanilla.js"></script>
<script src="static/js/validator.min.js"></script>
<script src="static/js/contactform.js"></script>
<script src="static/js/particles.min.js"></script>
<script src="static/js/script.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>


</body>
</html>